<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">

    <title>neuralknight</title>

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('neuralknight:static/reset.css')}}" rel="stylesheet">
    <link href="{{request.static_url('neuralknight:static/style.css')}}" rel="stylesheet">
  </head>

  <body>
    <h1>neuralknight</h1>
    <p>An occasionally suicidal chess AI</p>
    <p><a href="https://github.com/dsnowb/neuralknight">Source on Github</a></p>
    <p>Written by:</p>
    <ul>
      <li><a href=https://github.com/dsnowb>David Snowberger</a></li>
      <li><a href=https://github.com/shannontully>Shannon Tully</a></li>
      <li><a href=https://github.com/agrandquist>Adam Grandquist</a></li>
    </ul>
  </body>
</html>
